.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
  padding: 48px;
  min-height: 100vh;
  font-family: var(--font-mono);
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.nav {
  font-family: var(--font-mono);
  padding: 16px 32px;
}

.nav > ul {
  display: flex;
  column-gap: 16px;
  list-style: none;
}
